*{
  font-family: "Montserrat", sans-serif;
}

.spotify-nav{
  height: 64px;
}

/* Logo */
.spotify-logo{
  font-size: 34px;
  color: #1DB954;
  text-decoration: none;
}

/* Home Icon */
.nav-icon{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #1f1f1f;
  display: grid;
  place-items: center;
  color: #b3b3b3;
  text-decoration: none;
}
.nav-icon:hover{
  color: white;
}

/* Search */
.spotify-search{
  background: #1f1f1f;
  height: 44px;
  width: 420px;
  border-radius: 999px;
  padding: 0 14px;
  gap: 10px;
}
.spotify-search:hover{
  background: #272727;
  outline: 1px solid #3a3a3a;
}

.search-input{
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
  font-size: 14px;
}
.search-left, .search-right{
  color: #b3b3b3;
}

.nav-link-text{
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
}
.nav-link-text:hover{
  color: #fff;
  cursor: pointer;
}

.divider{
  width: 1px;
  height: 20px;
  background: #555;
}

/* Panels */
.spotify-panel{
  background: #121212;
  border-radius: 12px;
}

/* Sidebar boxes */
.spotify-box{
  background: #1f1f1f;
  border-radius: 12px;
}

/* Main scroll */
.main-scroll{
  height: calc(100vh - 140px);
  overflow: auto;
}
.main-scroll::-webkit-scrollbar{
  width: 8px;
}
.main-scroll::-webkit-scrollbar-thumb{
  background: #2a2a2a;
  border-radius: 20px;
}

/* Horizontal section row */
.spotify-row::-webkit-scrollbar{
  display: none;
}

/* Song card */
.song-card{
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  transition: 0.2s;
}
.song-card:hover{
  background: #1f1f1f;
}

.song-title{
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}
.song-desc{
  color: #b3b3b3;
  font-size: 12px;
}

/* Play button */
.play-btn{
  position: absolute;
  right: 18px;
  top: 118px;
  font-size: 40px;
  color: #1DB954;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.25s;
}
.song-card:hover .play-btn{
  opacity: 1;
  transform: translateY(0);
}

/* Bottom Player */
.spotify-player{
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000;
  border-top: 1px solid #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-img{
  width: 52px;
  height: 52px;
  border-radius: 8px;
  object-fit: cover;
}

.player-title{
  font-size: 14px;
  font-weight: 600;
}
.player-desc{
  font-size: 12px;
  color: #b3b3b3;
}

.player-icon{
  color: #b3b3b3;
  font-size: 16px;
}
.player-play{
  color: #fff;
  font-size: 32px;
}

.player-range{
  width: 480px;
  height: 3px;
}
